<div id="modalReadMore" class="modal">
    <div class="modal-content">
        <span id="closeReadMore" class="close">&times;</span>
        <p class="text-info text-center">Easy Aydience is a application that allows all members of the audience to ask
            real time
            questions.</p>
        <p class="text-info text-center">In order to submit a question you must fill the fields below. After this, the
            presenter will answer your question in real time or via email.</p>
    </div>
</div>